@page
@model IndexModel
@{
    ViewData["Title"] = "ms test";
}

<div class="text-center">
    <h1 class="display-4">.NET Azure ❤ 텀블러 주세요</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
